
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProtectedResource</title>
</head>
<body>
    <h1> Congratulations - You here because the Authorization Service says you're a known party!</h1>
</body>
</html>
